body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: hsla(207, 56%, 45%, 0.753);
    color: hsl(81, 90%, 16%);
    text-align: center;
    padding: 1em;
}

section {
    margin: 2em;
}

h2 {
    color: hsla(277, 60%, 65%, 0.729);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 0.5em;
}

